{% extends 'base.html' %}
{% load eshop %}
{% block title %}
Preview    
{% endblock title %}
{% block body %}
    <div class="container mt-5">

        <div class="row ">
            <div class="col-md-5 border border-danger p-3">
                <img width="200px" height="200px" src="{{ get_product_detail.image.url }}" alt="..." class="img-thumbnail">
            </div>

            <div class="col-md-6 offset-1 border border-warning">
                <h3 class="text-center mt-3">{{get_product_detail.p_name}}</h3>
                <p class="mt-5 ">{{get_product_detail.desc}}</p>
                
                {% if get_product_detail|is_in_cart:request.session.cart %}
                    <div  class=" btn btn-block row no-gutters mb-2 " >
                        
                        <form action="{% url 'homepage' %}" class="float-left " method="POST" >
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ request.path }}">
                            <input type="hidden" name="productid" value="{{get_product_detail.id}}" >
                            <input type="hidden" name="remove" value="True" name="">
                            <input type="submit" value="-" class="btn btn-sm btn-danger">
                        </form>

                        <span>{{ get_product_detail|item_count:request.session.cart }}</span> 

                        <form action="{% url 'homepage' %}" class="float-right " method="POST" >
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ request.path }}">
                            <input type="hidden" name="productid" value="{{get_product_detail.id}}" >
                            <input type="submit" value="+" class="btn btn-sm btn-danger">
                        </form> 
                    
                    </div>
                        
                {% else %}
                            
                    <div class="card-footer p-0 btn btn-block text-center no-gutters">
                        <form action="{% url 'homepage' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ request.path }}">
                            <input type="submit" class="btn btn-success btn-block mb-2" value="Order Now">
                            <input type="hidden" value="{{get_product_detail.id}}" name="productid">
                        </form> 
                    </div>
                        
                {% endif %}             
        </div> 
    </div>


    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative mt-3 border border-secondary p-2">
    <h3>Comments({{comment.count}})</h3>
        <div class="container mt-5">
        {% if form.non_field_errors %}
            <div class="non-field-errors">
                {% for err in form.non_field_errors %}
                <p class="alert alert-danger">{{ err }}</p>
                {% endfor %}
            </div>
        {% endif %} 

        <form action="" method="POST" novalidate>
            {% csrf_token %}
            {% for form in form %}
                <div class="form-group">
                    {{form.label_tag}}
                    {{form}}
                    {% for error in form.errors %}
                        <div style="width:600px; height:35px;" class="text-danger">
                            <strong>*{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
            {% if request.user.is_authenticated %}
                <input class="btn btn-success mt-3" type="submit" value="Comment">
            {% else %}
                <a href="{% url 'loginpage' %}" class="btn btn-warning">Login First</a>
            {% endif %}
        </form>
    </div>
    </div>


    <div class="container">

    {% for comment in comment %}
        <div class="container mt-2 border">
              <div>
              <strong>
                {{comment}} 
              </strong>
              <div>
                <small>Comment by-</small>({{comment.commentBy}})
              </div> 
              </div>
              {% comment %} <a href="{% url 'commentdelete' comment.id  %}">delete</a> {% endcomment %}
            <div class="col-md-1">
              {% if user.is_authenticated %}

                <div class="container btn btn-info"  data-toggle="collapse" href="#collapseExample{{comment.id}}" role="button" aria-expanded="false" aria-controls="collapseExample">
                    Reply
                </div>
              
              {% else %}
              
              {% endif %}
            </div>
                    
            <div class="collapse" id="collapseExample{{comment.id}}">
                <form action="" method="POST" novalidate>
                    {% csrf_token %}
                    {% for form in form %}
                        <div class="form-group">
                            {{form.label_tag}}
                            {{form}}
                            {% for error in form.errors %}
                                <div style="width:600px; height:35px;" class="text-danger">
                                    <strong>*{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                    <input type="hidden" name="parent" value={{comment.id}}>
                    <input type="submit" class="btn btn-success mt-3">
                </form>
            </div>

          {% for reply in comment.parentcom.all %}     
            <div class=" border mt-2 mb-2 ml-5">
                <div>
                   <strong>
                        {{reply}} 
                   </strong>
                    <small>Comment by-</small>({{reply.commentBy}})
                </div> 
              

            </div>
          {% endfor %}  

        </div>   
    
    {% endfor %} 
</div> 

{% endblock body %}