{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href=" {% static 'css/boot.css' %} ">

</head>
<body>
    {% include 'navbar.html' %}
    {% block main %}
    
                               
                         

    {% endblock main %}
    
    <script src=" {% static 'js/jquery.js' %} "></script>
    <script src="{% static 'js/popper.js' %}"></script> 
    <script src="{% static 'js/boot.js' %}"></script> 
    
    
</body>
</html>